:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;
  --themeDotColor: #24292e;
  --mainText: t black;
  --secondaryText: #4b5156;
  --previewBg: rgb(251 249 243);
  --prevShadow: #f0ead6;

  --btnColor: #000;
}

html,
body {
  padding: 0;
  margin: 0;
}

body * {
  transition: 0.3s;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Baloo Tamma 2", cursive;
}

p,
label,
li,
span,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}
.title-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  grid-template-areas:
    "navigation navigation"
    "left-column right-column";
}

.dots-wrapper {
  display: flex;
}
#dot-1 {
  background-color: #fc6058;
}
#dot-2 {
  background-color: #fec02f;
}
#dot-3 {
  background-color: #2aca3e;
}
.browser-dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 5px;
}

.navigation {
  grid-area: navigation;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}

#nav-item a {
  margin: 0;
  padding: 10px;
  color: var(--mainText);
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.left-column img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

#theme-wrapper {
  display: flex;
  justify-content: center;
}
.theme-dot {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 5px;
  border: 2px solid var(--themeDotColor);
  cursor: pointer;
}

.theme-dot:hover {
  border: 5px solid var(--themeDotColor);
}
#light-mode {
  background-color: #fff;
}
#blue-mode {
  background-color: #192734;
}
#green-mode {
  background-color: #78866b;
}
#purple-mode {
  background-color: #7e4c74;
}
.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

#preview {
  width: 300px;
  background-color: var(--previewBg);

  border: 1.5px solid #17a2b8;

  padding: 15px;
  position: relative;
}
#preview-shadow {
  max-width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: var(--prevShadow);
}
.corner {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  border: 1.5px solid #17a2b8;
  background-color: white;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 100px;
}
#my-skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--prevShadow);
}
.social-media {
  display: grid;
  align-content: center;
  text-align: center;
}
.social-media img {
  width: 100%;
}
#projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 30px;
}
.thumbnail {
  width: 100%;
  display: block;
  height: 180px;
  object-fit: cover;
}
.post {
  background-color: white;
  padding: 15px;
}
.post-desc {
  color: #4b5156;
  font-size: 14px;
}
.post-title {
  margin: 0;
}
.post-main {
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}
#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#submit-btn {
  width: 100%;
  background-color: var(--btnColor);
  border: none;
  margin-top: 10px;
  padding-top: 6px;
  padding-bottom: 10px;
  color: #fff;
}

input,
textarea {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  height: 30px;
  margin-bottom: 10px;
}
textarea {
  min-height: 100px;
}
@media screen and (max-width: 1200px) {
  .main-container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navigation"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
  }
}
